doctype html
html
    head
        title= title

    body
        h1 #{title}
        p get in touch about us
        a.homePageRoute(href='/') home
        a.ourServiceRoute(href='/ourService') our service