doctype html
html
    head
        title= title

    body
        nav
            a.homePage(href='/') home
            a.ourService(href='/ourService') our service
        
        div.container
            h1 #{title}
            p get in touch about us