doctype html
html
    head
        title= title

    body
        nav
            a.homePageRoute(href='/') home
            a.ourServiceRoute(href='/ourService') our service
        
        div.container
            h1 #{title}
            p get in touch about us