doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/homePage.css')

    body
        nav
            a.ourService(href='/ourService') our service
            a.contactUs(href='/contactUs') contact us

        div.container
            h1 Welcome to #{title}
            p this is home page