doctype html
html
    head
        title= title

    body
        h1 #{title}
        p explore our service
        a.homePageRoute(href='/') home
        a.contactUsRouter(href='/contactUs') contact us