doctype html
html
    head
        title= title

    body
        nav
            a.homePageRoute(href='/') home
            a.contactUsRouter(href='/contactUs') contact us
        
        div.container
            h1 #{title}
            p explore our service