doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/ourService.css')

    body
        nav
            a.homePag(href='/') home
            a.contactUs(href='/contactUs') contact us
        
        div.container
            h1 #{title}
            p explore our service